<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <title>스윙세이버</title>

    <!-- 부트스트랩 -->
    <link href="../css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

    <!-- IE8 에서 HTML5 요소와 미디어 쿼리를 위한 HTML5 shim 와 Respond.js -->
    <!-- WARNING: Respond.js 는 당신이 file:// 을 통해 페이지를 볼 때는 동작하지 않습니다. -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <nav id="topNav" class="navbar navbar-default dropdownmenu">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand page-scroll" href="#first"><img src="../image/logo-defalt.png" class="header-logo" width="100%"></a>
            </div>
            <div class="navbar-collapse collapse sub-navwrap" id="bs-navbar">

                <ul class="nav navbar-nav navbar-right menu-all">

                    <li>
                        <a href="#">Home</a>
                    </li>
                    <li>
                        <a href="#">menu1</a>
                    </li>

                    <li>
                        <a href="#">menu2</a>
                    </li>
                    <li>
                        <a href="#">menu3</a>
                    </li>

                    <!--                    로그인전-->
                    <!--
                    <li>
                        <a href="#">로그인</a>
                    </li>
-->

                    <!--                    로그인후-->

                    <li>
                        <a href="#">로그아웃</a>
                    </li>
                    <li>
                        <a href="#">내정보</a>
                    </li>
                    <li>
                        <a href="#">내그룹</a>
                    </li>


                </ul>
            </div>
        </div>
    </nav>

    <section class="container no-padding">
        <article class="col-xs-12" style="padding: 0;">
            <div class="content-nav col-xs-3">
                <div class="side-menu">

                    <div class="user-info">
                        <p class="side-user">홍길동 프로</p>
                        <p class="meter-l meter-ti">현재회원 <span>200</span></p>
                        <p class="meter-r meter-ti">등록가능회원 <span>300</span></p>
                        <div class="meter info_color">
                            <span style="width:40%"></span>
                        </div>


                    </div>

                    <ul>
                        <li><a class="active" href="#">상품관리</a></li>
                        <li><a href="#">클래스관리</a></li>
                        <li><a href="#">매출조회</a></li>
                    </ul>
                </div>

            </div>
             <div class="content col-xs-9" style="padding: 0;">
                <div class="col-xs-12 no-padding">
                    <h2 class="right-tit">상품상세</h2>
                    <div class="sub-mem-list">
                    <h4 class="sub-tit">상품정보</h4>
                    <div class="sub-g-btn">
                        <button type="button" class="edit-btn" data-target="#">수정</button>
                        <button type="button" class="edit-btn" data-toggle="modal" data-target="#g_sub_01_02">삭제</button>
                        <button type="button" class="sea-btn add-btn" data-target="#">
                        <img src="../image/back-list.png" cwidth="100%">    
                            상품목록</button>
                    </div>

                        
                    <div class="col-xs-12 table-box">
                        <div class="table-responsive">
                            <table summary="This table shows how to create responsive tables using Bootstrap's default functionality" class="table table-bordered table-hover">
                                <colgroup>
                                    <col width="30%">
                                    <col width="70%">

                                </colgroup>

                                <tbody>
                                    <tr>
                                        <td><strong>상품종류</strong></td>
                                        <td>원포인트</td>
                                    </tr>                                    
                                    <tr>
                                        <td><strong>상품명</strong></td>
                                        <td>자세교정 완성반(중급)</td>
                                    </tr>
                                    <tr>
                                        <td><strong>상품설명</strong></td>
                                        <td>상품설명 공간입니다.</td>
                                    </tr>                                    
                                    <tr>
                                        <td><strong>상품가격</strong></td>
                                        <td>200,000원</td>
                                    </tr>
                                    <tr>
                                        <td><strong>사용횟수</strong></td>
                                        <td>12회</td>
                                    </tr>
                                    <tr>
                                        <td><strong>사용기한</strong></td>
                                        <td>12개월</td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    </div>
   
                </div>
            </div>
        </article>
    </section>


    <!--    소그룹삭제 g_sub_01_02 -->

    <div class="modal fade" id="g_sub_01_02" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog add-modal" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <!-- 모달 이름 -->
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                    </button>
                    <h4 class="modal-title text-center" id="exampleModalLabel">상품 삭제</h4>

                </div>
                <div class="modal-body text-center">
                    <h5>상품이름1</h5>
                    <p>해당 상품을 정말로 삭제하시겠습니까?</p>
                    <!-- 모달 내용 -->
                </div>
                <div class="modal-footer">
                    <!-- data-dismiss="modal"를 통해 모달을 닫을수 있다. -->
                    <div class="col-md-12">
                        <div class="mo-pa col-md-6 ">
                            <button type="button" class="modal-btn btn-secondary" data-dismiss="modal">삭제</button>
                        </div>
                        <div class="mo-pa col-md-6 ">
                            <button type="button" class="modal-btn">취소</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>







    <!-- Footer -->

    <div id="footer">
        <div class="text-center footer-bt">
            <p>Copyright © 2019 Swingsaver. All rights reserved. 문의사항 : support@email.com</p>
        </div>
    </div>

    <!-- Footer -->


</body>



</html>
